<app-filter-textbox (changed)="filter($event)"></app-filter-textbox>

<br />
<br />

<table mdbTable>
  <thead class="blue white-text">
    <tr>
        <th scope="col">Id</th>
        <th (click)="sort('name')" scope="col">Name</th>
        <th (click)="sort('city')" scope="col">City</th>
        <th (click)="sort('orderTotal')" scope="col">Order Total</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let cust of filteredCustomers">
      <th scope="row">{{ cust.id }}</th>
      <!-- <td>{{ cust.name | titlecase }}</td> // angular pipe -->
      <td>{{ cust.name | capitalize }}</td> <!-- custom pipe -->
      <td>{{ cust.city }}</td>
      <!-- 'code' will show 'USD' 'symbol' will show $ -->
      <td>{{ cust.orderTotal | currency:currenyCode:'symbol' }}</td>
    </tr>
    <tr *ngIf="filteredCustomers && filteredCustomers.length">
        <td colspan="3">&nbsp;</td>
        <td>
            {{ customersOrderTotal | currency:currenyCode:'symbol' }}
        </td>
    </tr>
    <tr *ngIf="!filteredCustomers || !filteredCustomers.length">
        <td colspan="4">No customers found</td>
    </tr>
  </tbody>
</table>
Number of Customers: {{ filteredCustomers.length }}

<!-- <table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Order Total</th>
        </tr>
    </thead>
    <tr *ngFor="let cust of filteredCustomers">
        <td>
            <a>
                {{ cust.name }}
            </a>
        </td>
        <td>{{ cust.city }}</td>
        <td>{{ cust.orderTotal }}</td>
    </tr>
    <tr *ngIf="filteredCustomers && filteredCustomers.length">
        <td colspan="2">&nbsp;</td>
        <td>
            {{ customerOrderTotal }}
        </td>
    </tr>
    <tr *ngIf="!filteredCustomers && !filteredCustomers.length">
        <td colspan="4">No customers found</td>
    </tr>
</table>
Number of Customers: {{ filteredCustomers.length }}
<br />
 -->
