<app-filter-textbox (changed)="filter($event)"></app-filter-textbox>

<br />
<br />

<table mdbTable>
  <thead class="black white-text">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{ head }} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let cust of filteredCustomers">
      <th scope="row">{{ cust.id }}</th>
      <td>
        <a [routerLink]="['/orders', cust.id]">
          {{ cust.name }}
        </a>
      </td>
      <td>{{ cust.city }}</td>
      <td>{{ cust.orderTotal }}</td>
      <td colspan="2">&nbsp;</td>
      <td  *ngIf="filteredCustomers && filteredCustomers.length">
          {{ customerOrderTotal }}
      </td>
      <td *ngIf="!filteredCustomers && !filteredCustomers.length" colspan="4">No customers found</td>
    </tr>
  </tbody>
</table>
<br>
Number of Customers: {{ filteredCustomers.length }}

<!-- <table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Order Total</th>
        </tr>
    </thead>
    <tr *ngFor="let cust of filteredCustomers">
        <td>
            <a>
                {{ cust.name }}
            </a>
        </td>
        <td>{{ cust.city }}</td>
        <td>{{ cust.orderTotal }}</td>
    </tr>
    <tr *ngIf="filteredCustomers && filteredCustomers.length">
        <td colspan="2">&nbsp;</td>
        <td>
            {{ customerOrderTotal }}
        </td>
    </tr>
    <tr *ngIf="!filteredCustomers && !filteredCustomers.length">
        <td colspan="4">No customers found</td>
    </tr>
</table>
Number of Customers: {{ filteredCustomers.length }}
<br />
 -->
